<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('/styles/styles.css') %>" />
  </head>

  <body>
    <h1>Hangman time</h1>
    <p>You've got <%= session[:tries] %> tries left.</p>
    <p>You already tried these characters, and they didn't work: <%= session[:incorrect_characters].join(", ") %></p>
    <h2>
      <% @answer.split("").each_with_index do |letter, index| %>
        <% if session[:correct_indices].include?(index) %>
          <%= "#{letter} " %>
        <% else %>
          <%= "_ " %>
        <% end %>
      <% end %>
    </h2>
    <form name="submit-form" action="/" method="post">
      <p>
        Guess a letter:
        <input class="guessbox" type="text" name="guess" autofocus/>
      </p>
      <input type="submit" value="Roll the dice" />
    </form>
    <h3>
      <% if message %>
      <%= message %>
    <% end %>
    </h3>
  </body>
</html>
